<div class="section-title">
    <h2>Popular Posts</h2>
</div>

<div class="trend-entry d-flex">
    <div class="number align-self-start">01</div>
    <div class="trend-contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
    </div>
</div>

<div class="trend-entry d-flex">
    <div class="number align-self-start">02</div>
    <div class="trend-contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
    </div>
</div>

<div class="trend-entry d-flex">
    <div class="number align-self-start">03</div>
    <div class="trend-contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
    </div>
</div>

<div class="trend-entry d-flex pl-0">
    <div class="number align-self-start">04</div>
    <div class="trend-contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
    </div>
</div>

<p>
    <a href="#" class="more">See All Popular
        <span class="icon-keyboard_arrow_right"></span>
    </a>
</p>