<app-admin-header></app-admin-header>
<div class="mt-5 row">
    <div class="col-sm-2">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
</div>
<app-admin-footer><app-admin-footer>