<div id="viewport">
    <div id="sidebar">
        <ul class="nav">
            <li>
                <a [routerLink]="['/admin']">
                    <i class="zmdi zmdi-view-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin', 'products']">
                    <i class="zmdi zmdi-view-dashboard"></i> Products
                </a>
            </li>
        </ul>
    </div>
</div>