<app-slideshow></app-slideshow>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <app-editor-pick></app-editor-pick>
            </div>
            <div class="col-lg-4">
                <app-trend></app-trend>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <app-politics></app-politics>
            </div>
            <div class="col-lg-6">
                <app-business></app-business>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <app-recent-news></app-recent-news>
            </div>
            <div class="col-lg-3">
                <app-popular-post></app-popular-post>
            </div>
        </div>
    </div>
</div>