<div class="row">
    <div class="col-12">
        <div class="section-title">
            <h2>Editor's Pick</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="post-entry-1">
            <a href="post-single.html">
                <img src="./assets/images/img_h_1.jpg" alt="Image" class="img-fluid">
            </a>
            <h2>
                <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam
                quibusdam.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="post-entry-2 d-flex bg-light">
            <div class="thumbnail" style="background-image: url('./assets/images/img_v_1.jpg')"></div>
            <div class="contents">
                <h2>
                    <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
                </h2>
            </div>
        </div>

        <div class="post-entry-2 d-flex">
            <div class="thumbnail" style="background-image: url('./assets/images/img_v_2.jpg')"></div>
            <div class="contents">
                <h2>
                    <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
                </h2>
            </div>
        </div>

        <div class="post-entry-2 d-flex">
            <div class="thumbnail" style="background-image: url('./assets/images/img_v_3.jpg')"></div>
            <div class="contents">
                <h2>
                    <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
                </h2>
            </div>
        </div>
    </div>
</div>