<div class="container my-5">
    <h2 class="text-center">Product Details</h2>
    <div>
        <div class="row mt-2">
            <label class="col-sm-2">
                Product's Name:
            </label>
            <div class="col-sm-10">
                {{ product.name }}
            </div>
        </div>
        <div class="row mt-2">
            <label class="col-sm-2">
                Product's Description:
            </label>
            <div class="col-sm-10">
                {{ product.description }}
            </div>
        </div>
        <div class="row mt-2">
            <label class="col-sm-2">
                Product's Image:
            </label>
            <div class="col-sm-10">
                <div class="pro-img">
                    <img [src]="product.image ? product.image : 'http://yaxingyao.com/img/lab/400x400.png'" alt="Product Image">
                </div>
            </div>
        </div>
        <div class="row mt-2 ml-2">
            <button class="mt-3 btn btn-cancel" [routerLink]="['../../product']">Back</button>
        </div>
    </div>
</div>