<div class="section-title">
    <h2>Recent News</h2>
</div>
<div class="post-entry-2 d-flex">
    <div class="thumbnail order-md-2" style="background-image: url('./assets/images/img_h_4.jpg')"></div>
    <div class="contents order-md-1 pl-0">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
            voluptatum quam quibusdam.</p>
    </div>
</div>

<div class="post-entry-2 d-flex">
    <div class="thumbnail order-md-2" style="background-image: url('./assets/images/img_h_3.jpg')"></div>
    <div class="contents order-md-1 pl-0">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
            voluptatum quam quibusdam.</p>
    </div>
</div>

<div class="post-entry-2 d-flex">
    <div class="thumbnail order-md-2" style="background-image: url('./assets/images/img_h_3.jpg')"></div>
    <div class="contents order-md-1 pl-0">
        <span class="caption mb-4 d-block">Editor's Pick</span>
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
            voluptatum quam quibusdam.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <ul class="custom-pagination list-unstyled">
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
        </ul>
    </div>
</div>