<div class="section-title">
    <h2>Business</h2>
</div>
<div class="post-entry-2 d-flex">
    <div class="thumbnail" style="background-image: url('./assets/images/img_v_1.jpg')"></div>
    <div class="contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
            voluptatum quam quibusdam.</p>
    </div>
</div>
<div class="post-entry-2 d-flex">
    <div class="thumbnail" style="background-image: url('./assets/images/img_v_2.jpg')"></div>
    <div class="contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
            voluptatum quam quibusdam.</p>
    </div>
</div>
<div class="post-entry-2 d-flex">
    <div class="thumbnail" style="background-image: url('./assets/images/img_v_3.jpg')"></div>
    <div class="contents">
        <h2>
            <a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque,
            voluptatum quam quibusdam.</p>
    </div>
</div>