<div class="container my-5">
    <h2 class="text-center">Add New Product</h2>
    <form [formGroup]="addProduct" (ngSubmit)="newProduct(addProduct.value);">
        <div class="form-group">
            <label>Product's name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && validate.name.errors }" />
            <div *ngIf="submitted && validate.name.errors" class="invalid-feedback">
                <div *ngIf="validate.name.errors.required">Product's Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Product's Description:</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{'is-invalid': submitted && validate.description.errors }" />
            <div *ngIf="submitted && validate.description.errors" class="invalid-feedback">
                <div *ngIf="validate.description.errors.required">Product's Description is required</div>
            </div>
        </div>
        <div class="row mt-2 ml-1">
            <button class="btn btn-success" type="submit">Add</button>
            <a class="btn btn-cancel ml-2" [routerLink]="['../product']">Back</a>
        </div>
    </form>
</div>