<div>
    <div>
        <button class="mt-3 btn btn-success" [routerLink]="['../product-add']">
            Add New
        </button>
    </div>
    <table class=" my-5 table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product's Name</th>
                <th scope="col">Product's Img</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products, let i = index">
                <!-- <tr *ngFor="let product of products, let i = index) | paginate: { itemsPerPage: 10, currentPage: p }"> -->
                <th scope="row"> {{ i+1 }} </th>
                <td>
                    <a [routerLink]="['../product-detail/', product.id]">
                        {{ product.name }}
                    </a>
                </td>
                <td class="product-img">
                    <img [src]="product.image ? product.image : 'http://yaxingyao.com/img/lab/400x400.png'" alt="Image" title="Image">
                </td>
                <td>{{ product.description }}</td>
                <td>
                    <button class="btn btn-primary" (click)="openModal(product.id)">Edit</button> ||
                    <button class="btn btn-danger" (click)="deleteItem(product.id, i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</div>