<div class="container my-5">
    <h2 class="text-center">Edit Product</h2>
    <form [formGroup]="editProduct" (ngSubmit)="updateProduct(editProduct.value)">
        <div class="form-group">
            <label>Product's name</label>
            <input type="text" formControlName="name" placeholder="Product's Name" name="name" class="form-control" id="name" [ngClass]="{ 'is-invalid': submitted && validate.name.errors }">
            <div *ngIf="submitted && validate.name.errors" class="invalid-feedback">
                <div *ngIf="validate.name.errors.required">Product's Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Product's Description:</label>
            <input type="text" formControlName="description" placeholder="Product's Description" class="form-control" [ngClass]="{'is-invalid': submitted && validate.description.errors }"
            />
            <div *ngIf="submitted && validate.description.errors" class="invalid-feedback">
                <div *ngIf="validate.description.errors.required">Product's Description is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Product's Image</label>
            <div class="row">
                <div class="col-sm-6">
                    <img [src]="pro_img ? pro_img : 'http://yaxingyao.com/img/lab/400x400.png'" width="100%" alt="Product Image">
                </div>
                <div class="col-sm-6">
                    <input type="file" (change)="onFileChanged($event)" accept=".pdf,.jpg,.png">
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf ="img_invalid">
            Images is exist, please choose another img!
        </div>
        <button class="btn btn-success">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
    </form>
</div>